@import "./custom.scss";

// Global
.btn {
    border-radius: 2rem;
}

h1 {
    color: $better-primary; 
    text-transform: uppercase;
    font-weight: bold;
}

h3 {
    color: $better-secondary;
    font-size: 1.3rem;
}


// Header
#header {
    background-color: $better-primary;
    text-transform: uppercase;
    
    .navbar {
        font-weight: bold;   
    }

    .navbar-brand {
        
        img {
            margin-left: auto;
            margin-right: auto;
        }
    }

    .dropdown-item {

        img {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

// Footer
#footer {
    background-color: $better-primary;
    color: $better-secondary;

    .btn-secondary {
        color: $better-tertiary;
    }

    .social {
        margin-bottom: 1rem;
        
        a {
            margin-right: 1rem;
        }
    }

    .site-links {

        a {
            text-decoration: none;    
        }
    }
}

// Home
#home {
    text-align: center;

    .carousel .thumb:focus {
        border: 3px solid #fff;
        outline: none; 
    }
    .carousel .thumb.selected, .carousel .thumb:hover {
        border: 3px solid $better-secondary; 
    }

    .btn-primary {
        color: $better-tertiary;
        text-transform: uppercase;
        font-weight: bold;
    }

    .content {
        padding: 2rem;

        .content-inner {
            padding-bottom: 1.5rem;
        }
    }
}