/* make the customizations */
$better-primary: #8ae3d0;
$better-secondary: #a7862a;
$better-tertiary: #f7f1e6;

// override default secondary variant
$secondary: $better-secondary;
$primary: $better-primary;

// navbar
$navbar-light-color: $better-secondary;
$navbar-light-hover-color: $better-tertiary;
$navbar-light-active-color: $better-tertiary;
//toggler
$navbar-light-toggler-border-color: $better-secondary;
// dropdown
$dropdown-bg: $better-primary;
$dropdown-link-hover-bg: $better-primary;
$dropdown-link-color: $better-secondary;
$dropdown-link-hover-color: $better-tertiary;
// component
$component-active-bg: $better-primary;
// link
$link-color: $better-secondary;
$link-hover-color: $better-tertiary;
// carousel
$carousel-control-color: $better-secondary;

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";